body { background: #509348; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-metrics-0 { color: #cbd35; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #c4c04d; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #abfde9; font-size: 17px; margin-bottom: 5px; }
.block-product-3 { color: #c01e8a; font-size: 18px; margin-bottom: 5px; }
.block-cluster-4 { color: #f143a6; font-size: 19px; margin-bottom: 5px; }
.block-order-5 { color: #e16329; font-size: 12px; margin-bottom: 5px; }